.btn{
    background-color: grey;
    padding: 20px 40px;
    color: white;
    width: 30%;
    margin: 8px 0;
    border-radius: 4px;
    border: none;
}

input[type=text] {
    background-color: #edede9;
    color: black;
    border: none;
    border-bottom: 1px solid blakc;
    border: 1px solid black;
    border-radius: 4px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }